<%- include ('./partials/head.ejs') %> 

    <div class="jumbotron">
        <h1 class="display-3">Looking for a gif,<br>this is you right place !</h1>
        <p class="lead">Save your favorites gifs</p>
        <hr class="my-2">
        <p>Gif Pocket, will offer the latest gifs from giphy images</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="/search" role="button">Start searching now !</a>
        </p>
    </div>

<%- include ('./partials/footer.ejs') %> 