<!doctype html>
<%- include('./partials/head') %> 

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Search for gifs here</h1>
            <hr class="my-2">
            <p>Gif Pocket, will offer the latest gifs from giphy images</p>
            <form action="/search" method="post">
                <div class="form-group">
                    <input required type="text" name="query" id="" class="form-control" placeholder="search ..."
                        aria-describedby="helpId">
                    <small id="helpId" class="text-muted">Please enter a tag.</small>
                    <br>
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>


    <% if (locals.searches) { %>
    <div class="container">
        <div class="row">
                <% searches.forEach((search) => { %>
                <%- include('./searchItem', {searchItem: search}) %>
                <% }) %>
        </div>
    </div>
    <% } %>

<%- include('./partials/footer') %> 